<%- include('templates/header.ejs'); %>

<div class="container">
    <h1 class="display-1">Forecast</h1>
    <div class="row">
        <div class="col-12">
            This will predict the AQI for the next 72 hrs with 3 hrs interval
        </div>
        <div class="col-12">
            <div class="input-group mb-3">
                <input type="text" id="aqipredictinp" class="form-control" placeholder="PINCODE" aria-label="PINCODE" aria-describedby="PINCODE">
                <button class="btn btn-outline-primary" type="button" onclick="predictAQI()">Forecast</button>
            </div>
        </div>
        <div class="col-12">
            <canvas id="forcastcanvas"></canvas>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="./forecast.js"></script>
<%- include('templates/footer.ejs'); %>